.profile__edit-button {
  background-image: url(../../../images/edit_button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 456px) {
  .profile__edit-button {
    width: 21px;
    height: 21px;
  }
}

@media screen and (max-width: 362px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
