.profile__title {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 456px) {
  .profile__title {
    font-size: 16px;
  }
}

@media screen and (max-width: 362px) {
  .profile__title {
    font-size: 14px;
    line-height: 1.22;
  }
}
