.photos-grid__list {
  margin: 50px auto 0;
  padding: 0;
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-gap: 17px;
  list-style: none;
  box-sizing: border-box;
}

@media screen and (max-width: 362px) {
  .photos-grid__list {
    margin: 36px auto 0;
  }
}
