.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: auto;
  max-width: 14%;
}

@media screen and (max-width: 618px) {
  .profile__avatar {
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
  }
}
