.heart {
  all: unset;
  width: 21px;
  height: 21px;
  padding: 3px;
  transition: opacity 0.5s ease 0s;
  background-image: url(../../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.5s, opacity 0.5s ease 0s;
}

.heart:hover {
  opacity: 0.5;
  cursor: pointer;
}

.heart_active {
  background-image: url(../../images/blackheart.svg);
}
