.popup__input {
  all: unset;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
}

@media screen and (max-width: 362px) {
  .popup__input {
    padding-bottom: 9px;
  }
}
